<app-nav></app-nav>

<!-- <div class="container"> -->

    <div class="about section container">
        <h1>About Us</h1>
        <p>
            Are you looking for a place in the huge internet domain? Do you want to promote your business? Or you’ve had your breakthrough idea and want to create an enterprise? You know what, you can now let out a breath of relief because you landed at kapslock.in ! We at kapslock.in are like your real estate agents, civil engineers and architects of the internet. We help you from creating your own website to making your life easier by laying the foundation and building your very own personalised software’s, web applications, mobile applications, branding, logos, posters- pamphlets and many other such web related tasks... you only got to name it and we’re here for you at every step!
            <br/><br/>Wait, are you still not convinced because all this looks fancy? Don’t you worry because we’re your buddies at kapslock.in! We understand you and your business so we provide economical packages and customised packages, all you can choose from. So what are you waiting for? Contact us right away!
            <br/><br/>Also the cherry on top, we accept outsourced projects so if you feel over-burdened with your coding and web designing, just let us know!
        </p>
    </div>
    <div class="story">
        <div class="section container">
            <h1>Our Story</h1>
            <p>
                After finishing Masters in Information Technology, 3 friends; Ankur Kankonkar, Rhugveda Desai and Amey Gaonkar were eager to venture into the professional world. Being the bright minds of the 21st century India, they were charged by the start-up culture and had the idea of starting a venture of their own. After a few months of planning, analysing and innovation kapslock.in was started on 15th August 2019.
                <br/><br/>Based in Goa, India they aim to provide quality software services at affordable prices . The internet has immense opportunity for promotion and support of businesses of all scale and size and kapslock.in is here to make it possible for you.
            </p>
        </div>
    </div>
    <div class="mission section container">
        <h1>Our Mission</h1>
        <p>Our mission is to provide an online platform by leveraging technology and furthermore to empower and open the horizons of the digital world to one professional, one business and one institution at a time.</p>
    </div>
    <div class="team container">
        <h1>Our Team</h1>
        <div class="team-members">
            <div class="team-member">
                <img src="../../../../assets/team-members/ankur.jpg" alt="image of Co-founder & CEO, Ankur Kankonkar">
                <p class="team-member-name">Ankur Kankonkar</p>
                <p class="team-member-role">Co-founder & CEO</p>
            </div>
            <div class="team-member">
                <img src="../../../../assets/team-members/amey.jpg" alt="image of Co-founder & Full stack developer, Amey Gaonkar">
                <p class="team-member-name">Amey Gaonkar</p>
                <p class="team-member-role">Co-founder & Full stack developer</p>
            </div>
            <div class="team-member">
                <img src="../../../../assets/team-members/rhugveda.jpg" alt="image of Co-founder & CTO, Rhugveda Desai">
                <p class="team-member-name">Rhugveda Desai</p>
                <p class="team-member-role">Co-founder & CTO</p>
            </div>
        </div>
    </div>

<!-- </div> -->

<app-footer></app-footer>