<app-nav></app-nav>

<div class="container">

    <!-- hero -->
    <div class="hero flex">
        <div class="hero-left">
            <h1>Web Design and Development</h1>
            <p>From simple websites to complex web apps we have you covered. Portfolio websites, E-commerce web apps, gamification websites... you name it and we have it all.</p>
            <div class="ctas flex">
                <a routerLink="/contact" class="cta-primary hero-cta-primary">Get in Touch</a>
                <!-- <a href="" class="cta-secondary">Download Portfolio</a> -->
            </div>
        </div>
        <div class="hero-right">
            <img src="../../../../assets/website-design-service.svg" alt="web design and develpment">
        </div>
    </div>

    <div class="features">
        <h2 class="features-heading">Our Features</h2>
        
        <div class="feature">
            <h3 class="feature-heading"><span>01 </span>Fast</h3>
            <p class="feature-para">Our web apps are built using latest cutting edge technologies keeping speed in mind. We ensure that the load time of your website is minimal.</p>
        </div>
        <div class="feature feature-right">
            <h3 class="feature-heading"><span>02 </span>Responsive</h3>
            <p class="feature-para">The websites we design adapt to various screen sizes. You get the same awesome experience on your laptop, your phone, your tablet or any other smart device which supports a browser.</p>
        </div>
        <div class="feature">
            <h3 class="feature-heading"><span>03 </span>SEO Friendly</h3>
            <p class="feature-para">Our websites are optimised for SEO(Search Engine Optimisation). This helps in ranking your website much higher on top search engines like Google which helps new users to find your website easily and without going through too many search results.</p>
        </div>
        <div class="feature  feature-right">
            <h3 class="feature-heading"><span>04 </span>Accessible</h3>
            <p class="feature-para">Our web apps are designed according to Web Content Accessibility Guidelines (WCAG). This makes our apps accessible with various assistive technologies such as screen readers, allowing people with disabilities to join the target audience of our customers.</p>
        </div>
        <div class="feature">
            <h3 class="feature-heading"><span>05 </span>Templates</h3>
            <p class="feature-para">You can choose from hundreds of templates according to your taste and preference. Be it an E-commerce website or a simple blog website, we have just the right template for you. If in case you are not satisfied with the templates then we will make a special custom template just for you.</p>
        </div>

    </div>

</div>

<app-footer></app-footer>