<div class="footer">
    <div class="container">
        <div class="footer-cta">
            <h2>LET'S<br/>TALK</h2>
            <div class="footer-cta-right">
                <p>Ready to create a unique experience?<br/>Let's get in touch!</p>
                <a routerLink="/contact" class="cta-primary">Get in Touch</a>
            </div>
        </div>
        <div class="footer-info">
            <div class="logo">
                <a routerLink="/"><img src="../../../assets/nav/Logo.svg" alt="Kapslock logo"></a>
            </div>
            <p> F-3, Predios Santana,<br/>Dongarwado-Fatorda-Goa.<br/>403602</p>
            <div class="contact">
                <div class="number">
                    <img src="../../../assets/socials/smartphone.svg" alt="mobile">
                    <p>+91 8329 1675 39</p>
                </div>
                <div class="email">
                    <img src="../../../assets/socials/mail.svg" alt="email">
                    <p>info@kapslock.in</p>
                </div>
            </div>
        </div>
        <div class="socials">
            <a target="_blank" href="https://www.instagram.com/kapslock.in/"><img src="../../../assets/socials/instagram.svg" alt="instagram account"></a>
            <!-- <a target="_blank" href=""><img src="../../../assets/socials/youtube.svg" alt="youtube account"></a> -->
            <a target="_blank" href="https://www.facebook.com/kapslock.in/"><img src="../../../assets/socials/facebook.svg" alt="facebook account"></a>
            <a target="_blank" href="https://twitter.com/kapslocki"><img src="../../../assets/socials/twitter.svg" alt="twitter account"></a>
        </div>

        <p class="girlscript">Diversity Partners: Girlscript</p>
        
        <div class="privacy">
            <p>© Copyright 2020 Kapslock.in . All Rights Reserved</p>
            <p>Powered by Kapslock.in</p>
        </div>
    </div>
</div>