<app-nav></app-nav>

<div class="blog container">
    <h1 class="blog-heading">Our Blog</h1>
    <p class="blog-tagline">Sharing our passion for outstanding design and development</p>
    <div class="blog-cards">
        <div class="blog-card">
            <img src="../../../../assets/blog/blog1/blog1-hero.jpg" alt="image of a developer working on the computer">
            <p class="blog-card-date">December 01 , 2020</p>
            <h2 class="blog-card-title">5 Important questions to ask yourself Before starting a design</h2>
            <a routerLink="/blog1" class="blog-card-cta">Read More</a>
        </div>
        <div class="blog-card">
            <img src="../../../../assets/blog/blog2/blog2-hero.jpg" alt="">
            <p class="blog-card-date">October 27 , 2020</p>
            <h2 class="blog-card-title">How to be a good leader by asking the right questions at the right time</h2>
            <a href="" class="blog-card-cta">Read More</a>
        </div>
    </div>
</div>

<app-footer></app-footer>