<app-nav></app-nav>

<div class="container">

    <!-- hero -->
    <div class="hero flex">
        <div class="hero-left">
            <h1>Pressbell.in E-com Store</h1>
            <p>Pressbell.in is an e-commerce start-up based in Goa, India which specializes in selling groceries online. Their main objective is to give the customers fresh grocery items at best prices and in the fastest possible time</p>
            <div class="ctas flex">
                <a target="_blank" href="https://pressbell.in/home" class="cta-primary hero-cta-primary">Visit Site</a>
                <!-- <a href="" class="cta-secondary">Download Portfolio</a> -->
            </div>
        </div>
        <div class="hero-right">
            <img src="../../../../assets/work/pressbell.jpg" alt="pressbell landing page">
        </div>
    </div>

    <div class="features">
        <h2 class="features-heading">Our Process</h2>
        
        <div class="feature">
            <h3 class="feature-heading">The Challenge</h3>
            <p class="feature-para">The start-up wanted to build a robust online platform to deliver groceries at very affordable prices.Being a start-up, they wanted a cost effective solution as their budget was not very high.</p>
        </div>
        <div class="feature feature-right">
            <h3 class="feature-heading">The Solution</h3>
            <p class="feature-para">We developed a custom e-commerce website for them packed with all the essential features required for selling online. The web app has features like shop by category, search items by name and brand, shopping cart etc for the customers. Payment options currently include only cash on delivery. Other modes of payment will be made available in the future.The admin functionalities include a dashboard to check out orders, manage product stock, apply discount on items and categories, set delivery time slots etc.</p>
        </div>
        <div class="feature">
            <h3 class="feature-heading">Technologies used</h3>
            <p class="feature-para">PHP Laravel, Bootstrap, Jquery, MySQL</p>
        </div>
        <div class="feature  feature-right">
            <h3 class="feature-heading">The Results</h3>
            <p class="feature-para">The start-up has noticed a 33% growth in traffic month over month since July 2020. The platform has helped people make their grocery purchases online in a convenient manner especially during the troubled times of the pandemic Covid 19</p>
        </div>

    </div>

</div>

<app-footer></app-footer>
