<app-nav></app-nav>

<div class="container">

    <!-- hero -->
    <div class="hero flex">
        <div class="hero-left">
            <h1>Mobile App Development</h1>
            <p>We build state-of-the-art apps with modern technologies that shape themselves perfectly into the moulds of your needs. We employ unorthodox methods and go to any lengths to keep our customers happy and satisfied.</p>
            <div class="ctas flex">
                <a routerLink="/contact" class="cta-primary hero-cta-primary">Get in Touch</a>
                <!-- <a href="" class="cta-secondary">Download Portfolio</a> -->
            </div>
        </div>
        <div class="hero-right">
            <img src="../../../../assets/website-development-1.svg" alt="mobile app development">
        </div>
    </div>

    <div class="features">
        <h2 class="features-heading">Our Features</h2>
        
        <div class="feature">
            <h3 class="feature-heading"><span>01 </span>Fast</h3>
            <p class="feature-para">Even though the apps are loaded with striking features we make sure to always keep our apps lightweight. Let’s be honest no one likes apps that load with the speed of a sloth. </p>
        </div>
        <div class="feature feature-right">
            <h3 class="feature-heading"><span>02 </span>Robust</h3>
            <p class="feature-para">Along with agility our apps are also built to be robust i.e. they are highly fault tolerant and prone to lesser crashes. Even in case of crashes we make sure your on-going data is preserved and kept safe.</p>
        </div>
        <div class="feature">
            <h3 class="feature-heading"><span>03 </span>Cross-platform</h3>
            <p class="feature-para">Our apps are built to be platform independent so you don’t have to worry about being either an android or an iOS user.</p>
        </div>
        <div class="feature  feature-right">
            <h3 class="feature-heading"><span>04 </span>User-Friendly UI / UX</h3>
            <p class="feature-para">With app stores being loaded with similar apps we rely on our first impressions based on their design. That is precisely why we dedicate our time in curating the right UI for your users. User-engagement is a crucial factor of mobile apps and can be achieved with an easy-to-use UX. We employ a seamless onboarding experience for your users to ensure lesser abandonment and more engagement.</p>
        </div>
        <div class="feature">
            <h3 class="feature-heading"><span>05 </span>Accessible</h3>
            <p class="feature-para">Our apps are designed according to Web Content Accessibility Guidelines 2.0 to Non-Web Information and Communication Technologies (WCAG2ICT). This makes our apps accessible with various assistive technologies such as screen readers, allowing people with disabilities to join the target audience of our customers.</p>
        </div>
        <div class="feature feature-right">
            <h3 class="feature-heading"><span>06 </span>Platform Design Guidelines</h3>
            <p class="feature-para">We follow proper platform design guidelines laid down by both Google Play Store and Apple App Store so that your app doesn’t face any issues. We pay attention to all design and developer guidelines to carefully craft the details of your app and promise its longevity</p>
        </div>

    </div>

</div>

<app-footer></app-footer>
