<app-nav></app-nav>

<div class="container">

    <!-- hero -->
    <div class="hero flex">
        <div class="hero-left">
            <h1>E-waste Management</h1>
            <p>Global E-Waste Management System is one of the largest electronics recycler in
                Goa, India with a recycling capacity of 100 tons annually. They provide complete
                end life management of electronics equipment, providing one stop cost
                effective solution to their clients. Their services include segregation, e-waste
                collection and destruction of electronic equipment.Once Destruction of waste
                is completed, they provide their clients with safe destruction certificate and
                also help them maintain data as required by E- Waste management handling
                rules.</p>
            <div class="ctas flex">
                <a target="_blank" href="https://gemsrecyclers.com/" class="cta-primary hero-cta-primary">Visit Site</a>
                <!-- <a href="" class="cta-secondary">Download Portfolio</a> -->
            </div>
        </div>
        <div class="hero-right">
            <img src="../../../../assets/work/recycle-sign.jpg" alt="recycle logo">
        </div>
    </div>

    <div class="features">
        <h2 class="features-heading">Our Process</h2>
        
        <div class="feature">
            <h3 class="feature-heading">The Challenge</h3>
            <p class="feature-para">The firm was looking for a web design company to develop their portfolio
                website in a cost effective manner. They wanted to advertise their services and
                showcase their work and other activities.</p>
        </div>
        <div class="feature feature-right">
            <h3 class="feature-heading">The Solution</h3>
            <p class="feature-para">We designed a portfolio website for the client using WordPress. The website
                has pages which highlight the work done by the firm. There is a photo gallery
                which displays images of various activities undertaken by the company.
                The services page shows different types of services offered by the company. The
                website has an about section as well as a contact page. There is an option to
                pick up e-waste where users can schedule an appointment for collection of
                their electronic waste. A dashboard is also provided to change content
                dynamically. The website is mobile responsive and optimized for Search Engine
                Optimization(SEO)</p>
        </div>
        <div class="feature">
            <h3 class="feature-heading">Technologies used</h3>
            <p class="feature-para">Wordpress</p>
        </div>
        <div class="feature  feature-right">
            <h3 class="feature-heading">The Results</h3>
            <p class="feature-para">The firm was able to showcase their work and advertise their services in a
                convenient manner. The e-waste pick up feature helped the company to
                increase the number of waste products being picked up for recycling. The client
                also managed to raise awareness about their services and the harm that ewaste can cause on nature.</p>
        </div>

    </div>

</div>

<app-footer></app-footer>

