<app-nav></app-nav>

<div class="container">

    <!-- hero -->
    <div class="hero flex">
        <div class="hero-left">
            <h1>Branding</h1>
            <p>We help you create your brand not only from scratch but also fix an existing brand that’s not working in your company’s favour with our talented team that follows contemporary techniques best suited for your company.</p>
            <div class="ctas flex">
                <a routerLink="/contact" class="cta-primary hero-cta-primary">Get in Touch</a>
                <!-- <a href="" class="cta-secondary">Download Portfolio</a> -->
            </div>
        </div>
        <div class="hero-right">
            <img src="../../../../assets/website-development-1.svg" alt="branding">
        </div>
    </div>

    <div class="features">
        <h2 class="features-heading">Our Features</h2>
        
        <div class="feature">
            <h3 class="feature-heading"><span>01 </span>Understanding Your Audience</h3>
            <p class="feature-para">The most fundamental piece of information while establishing a brand is knowing who your target audience is and then accordingly setting the right tone for them.</p>
        </div>
        <div class="feature feature-right">
            <h3 class="feature-heading"><span>02 </span>Exclusivity</h3>
            <p class="feature-para">What is it about your brand that sets it apart from the rest? What makes you really standout? We understand that one exclusive quality to attract your audience and help them understand the difference your brand will make.</p>
        </div>
        <div class="feature">
            <h3 class="feature-heading"><span>03 </span>Passion</h3>
            <p class="feature-para">We’ll find your passion for your business and share it with your audience so that they feel a deeper connection and empathy to your passion and love for it.</p>
        </div>
        <div class="feature  feature-right">
            <h3 class="feature-heading"><span>04 </span>Consistency</h3>
            <p class="feature-para">The branding of your company is a story that you’re telling your customers and we’ll help you keep that story consistent so that your customers feel a sense of familiarity that will eventually result in greater loyalty to your brand.</p>
        </div>
        <div class="feature">
            <h3 class="feature-heading"><span>05 </span>Color and Shape Psychology</h3>
            <p class="feature-para">We focus on shades or colours, shapes and fonts that will best play in favour of your brand and speak for it directly to your customers. It will matter on your target audience and your brand </p>
        </div>

    </div>

</div>

<app-footer></app-footer>
