<app-nav></app-nav>

<!-- hero -->
<div class="hero container flex">
    <div class="hero-left">
        <h1>One Step Digital Transformation</h1>
        <p>We are your pathway to a strong online presence. With our solutions you stand out from your peers. We take up full-fledged projects as well as a part of a massive project.</p>
        <div class="ctas flex">
            <a routerLink="/contact" class="cta-primary hero-cta-primary">Get in Touch</a>
            <a routerLink="/" class="cta-secondary download-hero-js">Download Portfolio</a>
        </div>
    </div>
    <div class="hero-right">
        <img src="../../../assets/digital-support-services.svg" alt="a person helping another person digitally">
    </div>
</div>

<!-- proud members of -->
<div class="proud container">
    <h3 class="proud-header">Proud Members of</h3>
    <div class="proud-images">
        <img src="../../../assets/partners/BNI.svg" alt="Business Network International Logo">
        <img src="../../../assets/partners/GTA.svg" alt="Goa Technology Association Logo">
    </div>
</div>

<!-- Our Services -->
<div class="services container">
    <h2>Our Services</h2>

    <div class="service flex">
        <div class="service-image">
            <img src="../../../assets/website-design-service.svg" alt="Web design and Development">
        </div>
        <div class="service-info">
            <h3 class="service-info-heading">Web Design and Development</h3>
            <p class="service-info-para">We develop state of the art web applications with user friendly designs so that you have a sublime user experience. With our help you establish an unforgettable presence. </p>
            <a routerLink="/web-design-and-development" class="cta-secondary">Learn More</a>
        </div>
    </div>
    
    <div class="service flex flex-reverse">
        <div class="service-info">
            <h3 class="service-info-heading">Mobile App Development</h3>
            <p class="service-info-para">We wish for people to spend time on quality apps that grab everyones attention. So we work extra hard to make the user experiences as smooth as butter.</p>
            <a routerLink="/mobile-app-development" class="cta-secondary">Learn More</a>
        </div>
        <div class="service-image">
            <img src="../../../assets/website-development-1.svg" alt="Mobile app Development">
        </div>
        
    </div>

    <div class="service flex">
        <div class="service-image">
            <img src="../../../assets/branding-graphics.svg" alt="Branding">
        </div>
        <div class="service-info">
            <h3 class="service-info-heading">Branding</h3>
            <p class="service-info-para">Branding is the silent ambassador of your business and creating an image that your audience can empathize with is significant. We help you achieve that perfect image and gain a loyal consumer base.</p>
            <a routerLink="/branding" class="cta-secondary">Learn More</a>
        </div>
    </div>

    <div class="service flex flex-reverse">
        <div class="service-info">
            <h3 class="service-info-heading">Social Media Marketing</h3>
            <p class="service-info-para">Owning a fabulous business isn't enough if sufficient people don't know about it. Let us help you set up a presence on social media in the most efficient and effective way so that more people acknowledge it</p>
            <a routerLink="/social-media-marketing" class="cta-secondary">Learn More</a>
        </div>
        <div class="service-image">
            <img src="../../../assets/content-marketing.svg" alt="Social Media Marketing">
        </div>
        
    </div>

</div>

<!-- Our Products -->
<div class="products">
    <div class="services container">
        <h2>Our Products</h2>

        <div class="service flex">
            <div class="service-image">
                <img src="../../../assets/seo-ppc-analytics.svg" alt="Picture of databases and analytics">
            </div>
            <div class="service-info">
                <h3 class="service-info-heading">Salezify</h3>
                <p class="service-info-para">Payment check-outs made effortless with the help of our POS (Point of Sale) system developed especially for restaurants, cafes, supermarkets, etc.</p>
                <a routerLink="/salezify" class="cta-secondary">Learn More</a>
            </div>
        </div>
        
        <div class="service flex flex-reverse">
            <div class="service-info">
                <h3 class="service-info-heading">Kapsmart</h3>
                <p class="service-info-para">Get a stylish and uniquely customized E-Commerce website bundle developed by us at affordable costs and receive continuous support from our team.</p>
                <a routerLink="/kapsmart" class="cta-secondary">Learn More</a>
            </div>
            <div class="service-image">
                <img src="../../../assets/steps-to-success.svg" alt="picture of E-Commerce">
            </div>
            
        </div>


    </div>
</div>

<!-- Our Top Projects -->
<div class="projects">
    <div class="services container">
        <h2>Our Top Projects</h2>

        <div class="service flex">
            <div class="service-image">
                <img src="../../../assets/work/pressbell.jpg" alt="landing page of pressbell.in">
            </div>
            <div class="service-info">
                <h3 class="service-info-heading">Pressbell.in</h3>
                <p class="service-info-para">The goal was to create an optimum and highly functional E-Commerce store on a low budget and we deliverd with 100% satisfaction.</p>
                <a routerLink="/pressbell" class="cta-secondary">Our Solution</a>
            </div>
        </div>
        
        <div class="service flex flex-reverse">
            <div class="service-info">
                <h3 class="service-info-heading">E-waste Manegement Firm</h3>
                <p class="service-info-para">The firm was looking for a web design company to develop their portfolio website in a cost effective manner and wanted to showcase their work and other activities.</p>
                <a routerLink="/ewaste" class="cta-secondary">Our Solution</a>
            </div>
            <div class="service-image">
                <img src="../../../assets/work/recycle-sign.jpg" alt="recycle logo">
            </div>
            
        </div>


    </div>
</div>

<!-- download -->
<div class="download">
    <h2>To See More of our Client Work</h2>
    <h2 class="red">Download Our Portfolio</h2>
    <a routerLink="/" class="cta-primary download-js">Download Portfolio</a>
</div>

<!-- testimonials -->
<div class="testimonials container">
    <div class="testimonial">
        <div class="testimonial-quote">
            <img src="../../../assets/quote.svg" alt="quote">
            <p class="testimonial-quote-text">I absolutely appreciate the work done by the Kapslock team in getting our website up and running within a short duration of time. I am very happy with the service offered by them and offer my whole hearted support and best wishes to the entire team for their future endeavors.</p>
        </div>
        <div class="testimonial-giver">
            <img src="../../../assets/testimonials/motilal.png" alt="image of motilal">
            <div class="testimonial-giver-info">
                <p class="testimonial-giver-info-name">Motilal Vernekar</p>
                <p class="testimonial-giver-info-position">President, The Old Market Traders and Residents Trust</p>
            </div>
        </div>
    </div>
    <div class="testimonial right-align">
        <div class="testimonial-quote">
            <img src="../../../assets/quote.svg" alt="quote">
            <p class="testimonial-quote-text">We use the Salezify Point Of Sales software developed by Kapslock for our restaurants day to day activities like billing, inventory management etc. It is an excellent product at a very affordable price. I am delighted with Kapslock’s customer care and support.</p>
        </div>
        <div class="testimonial-giver">
            <img src="../../../assets/testimonials/pratik.jpg" alt="image of pratik">
            <div class="testimonial-giver-info">
                <p class="testimonial-giver-info-name">Pratik Pednekar</p>
                <p class="testimonial-giver-info-position">Owner, Matashree Restaurant</p>
            </div>
        </div>
    </div>
    <div class="testimonial">
        <div class="testimonial-quote">
            <img src="../../../assets/quote.svg" alt="quote">
            <p class="testimonial-quote-text">Thank you so much to kapslock.in for making our website absolutely amazing ! & also thank you for showing us the way to our dream life . You guys just rocked it.</p>
        </div>
        <div class="testimonial-giver">
            <img src="../../../assets/testimonials/gautam.png" alt="image of gautam">
            <div class="testimonial-giver-info">
                <p class="testimonial-giver-info-name">Gautam Parab</p>
                <p class="testimonial-giver-info-position">Co-founder, Pressbell</p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>

<!-- download portfolio pop up -->
<div class="pop">
    <div class="pop-close">
        <img src="../../../assets/nav/close.svg" alt="close pop up">
    </div>
    <h2 class="pop-header">See More of Our Client Work</h2>
    <form class="pop-form" action="">
        <label for="name">Name:</label> <br/>
        <input class="input" type="text" name="name" id="name"> <br/>
        <label for="email">Email:</label> <br/>
        <input class="input" type="email" name="email" id="email"> <br/>
        <input type="submit" class="form-cta cta-primary" value="Download Portfolio"> <br/>
    </form>
</div>

<div class="popup-background-black"></div>