<app-nav></app-nav>

<div class="container">

    <!-- hero -->
    <div class="hero flex">
        <div class="hero-left">
            <h1>1 ON 1 Training</h1>
            <p>Get one on one Mentoring From Industry Experts who will teach you what matters the most in the current Industry and guide you throughout your journey.</p>
            <div class="ctas flex">
                <a routerLink="/contact" class="cta-primary hero-cta-primary">Get in Touch</a>
                <!-- <a href="" class="cta-secondary">Download Portfolio</a> -->
            </div>
        </div>
        <div class="hero-right">
            <img src="../../../../assets/content-marketing.svg" alt="image of a teacher teaching students">
        </div>
    </div>

    <div class="topics">
        <h2 class="topics-heading">Our Topics</h2>
        <div class="topic">
            <h3 class="topic-name">Languages / Technologies</h3>
            <div class="subtopics">

                <div class="subtopic">
                    <img src="../../../../assets/training/html-5.svg" alt="HTML 5" class="subtopic-image">
                    <p class="subtopic-name">HTML 5</p>
                </div>
                <div class="subtopic">
                    <img src="../../../../assets/training/css-3.svg" alt="CSS 3" class="subtopic-image">
                    <p class="subtopic-name">CSS 3</p>
                </div>
                <div class="subtopic">
                    <img src="../../../../assets/training/javascript.svg" alt="Javascript" class="subtopic-image">
                    <p class="subtopic-name">Javascript</p>
                </div>
                <div class="subtopic">
                    <img src="../../../../assets/training/java.svg" alt="Java" class="subtopic-image">
                    <p class="subtopic-name">Java</p>
                </div>
                <div class="subtopic">
                    <img src="../../../../assets/training/php.svg" alt="PHP" class="subtopic-image">
                    <p class="subtopic-name">PHP</p>
                </div>
                <div class="subtopic">
                    <img src="../../../../assets/training/python.svg" alt="Python" class="subtopic-image">
                    <p class="subtopic-name">Python</p>
                </div>
                
            </div>
        </div>
        <div class="topic">
            <h3 class="topic-name">Front End Frameworks</h3>
            <div class="subtopics">

                <div class="subtopic">
                    <img src="../../../../assets/training/angular.svg" alt="Angular" class="subtopic-image">
                    <p class="subtopic-name">Angular</p>
                </div>
                <div class="subtopic">
                    <img src="../../../../assets/training/react.svg" alt="React JS" class="subtopic-image">
                    <p class="subtopic-name">React JS</p>
                </div>

            </div>
        </div>
        <div class="topic">
            <h3 class="topic-name">Back End Frameworks</h3>
            <div class="subtopics">

                <div class="subtopic">
                    <img src="../../../../assets/training/laravel.svg" alt="Laravel" class="subtopic-image">
                    <p class="subtopic-name">Laravel</p>
                </div>
                <div class="subtopic">
                    <img src="../../../../assets/training/nodejs.svg" alt="Node/Express JS" class="subtopic-image">
                    <p class="subtopic-name">Node/Express JS</p>
                </div>
                <div class="subtopic">
                    <img src="../../../../assets/training/django.svg" alt="Django" class="subtopic-image">
                    <p class="subtopic-name">Django</p>
                </div>
                <div class="subtopic">
                    <img src="../../../../assets/training/spring.svg" alt="Spring Boot" class="subtopic-image">
                    <p class="subtopic-name">Spring Boot</p>
                </div>

            </div>
        </div>
        <div class="topic">
            <h3 class="topic-name">Cloud Services</h3>
            <div class="subtopics">

                <div class="subtopic">
                    <img src="../../../../assets/training/firebase.svg" alt="Firebase" class="subtopic-image">
                    <p class="subtopic-name">Firebase</p>
                </div>
                <div class="subtopic">
                    <img src="../../../../assets/training/netlify.svg" alt="Netlify" class="subtopic-image">
                    <p class="subtopic-name">Netlify</p>
                </div>

            </div>
        </div>
        <div class="topic">
            <h3 class="topic-name">Hybrid For Apps</h3>
            <div class="subtopics">

                <div class="subtopic">
                    <img src="../../../../assets/training/react.svg" alt="React JS" class="subtopic-image">
                    <p class="subtopic-name">React JS</p>
                </div>

            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>