<app-nav></app-nav>

<div class="container">

    <!-- hero -->
    <div class="hero flex">
        <div class="hero-left">
            <h1>Salezify</h1>
            <p>Salezify is a Point Of Sales(POS) system tailor made for businesses such as restaurants, super stores, coffee shops etc.</p>
            <div class="ctas flex">
                <a routerLink="/contact" class="cta-primary hero-cta-primary">Get in Touch</a>
                <!-- <a href="" class="cta-secondary">Download Portfolio</a> -->
            </div>
        </div>
        <div class="hero-right">
            <img src="../../../../assets/seo-ppc-analytics.svg" alt="Picture of databases and analytics">
        </div>
    </div>

    <div class="features">
        <h2 class="features-heading">Our Features</h2>

        <div class="feature">
            <h3 class="feature-heading">Manage your inventory / items</h3>

            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">Restock / Deduct items in the inventory as per the availability.</p>
            </div>
            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">Create your own categories for items such as drinks , starters, main course etc.</p>
            </div>
            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">Create / Edit / Delete items in the items panel.</p>
            </div>
            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">Give the items name, unit, price as per your needs.</p>
            </div>
            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">Generate reports easily as per the category or all at once.</p>
            </div>

        </div>
        <div class="feature feature-right">
            <h3 class="feature-heading">Manage your orders</h3>

            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">Add table number to respective orders.</p>
            </div>
            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">Automatically sets date and time of the order.</p>
            </div>
            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">Select the items ordered and the bill is automatically calculated with or without gst.</p>
            </div>
            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">Edit / Delete an order at any time.</p>
            </div>
            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">Print bills on one click once the order is closed.</p>
            </div>

        </div>
        <div class="feature">
            <h3 class="feature-heading">Get quick reports</h3>

            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">Get reports of your Inventory.</p>
            </div>
            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">Use filters to generate reports of a specific day or a specific time span.</p>
            </div>
            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">Available to download in Pdf or Excel format</p>
            </div>
            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">Understand your customer better by knowing what they like and what sells the most.</p>
            </div>

        </div>

    </div>

</div>


<app-footer></app-footer>