<!-- <app-home></app-home> -->
<!-- <app-about></app-about> -->
<!-- <app-blog></app-blog> -->
<!-- <app-blog1></app-blog1> -->
<!-- <app-training></app-training> -->
<!-- <app-contact></app-contact> -->
<!-- <app-web></app-web> -->
<!-- <app-mobile></app-mobile> -->
<!-- <app-branding></app-branding> -->
<!-- <app-marketing></app-marketing> -->
<!-- <app-salezify></app-salezify> -->
<!-- <app-kapsmart></app-kapsmart> -->
<!-- <app-pressbell></app-pressbell> -->
<!-- <app-ewaste></app-ewaste> -->
<router-outlet></router-outlet>