<app-nav></app-nav>

<div class="container">

    <!-- hero -->
    <div class="hero flex">
        <div class="hero-left">
            <h1>Social Media Marketing</h1>
            <p>We carefully construct a strategy that will work the best for your business. We aid you through the entire processes of understanding and finding your goal to finally achieving it. </p>
            <div class="ctas flex">
                <a routerLink="/contact" class="cta-primary hero-cta-primary">Get in Touch</a>
                <!-- <a href="" class="cta-secondary">Download Portfolio</a> -->
            </div>
        </div>
        <div class="hero-right">
            <img src="../../../../assets/website-development-1.svg" alt="social media marketing">
        </div>
    </div>

    <div class="features">
        <h2 class="features-heading">Our Features</h2>
        
        <div class="feature">
            <h3 class="feature-heading"><span>01 </span>Understanding Your Goal</h3>
            <p class="feature-para">When you start social media marketing you start with a plan. To come up with a plan you need to research your target market and figure out who your audience really is. That way we can pick out specific crowds in specific locations and understand the market size. Once we have a defined market we tap it with carefully curated posts.</p>
        </div>
        <div class="feature feature-right">
            <h3 class="feature-heading"><span>02 </span>Target Audience Oriented Marketing and engagement</h3>
            <p class="feature-para">Depending on what your audience is like we design our posts around them, something that they will find attention grabbing and entertaining. The content we put out is to the point, engaging and one that raises curiosity so that your clients are drawn to know more. The inflicted curiosity can be used to get more traffic to your website raising brand awareness and initiating communications.</p>
        </div>
        <div class="feature">
            <h3 class="feature-heading"><span>03 </span>Gaining Loyal Customers</h3>
            <p class="feature-para">We want the brand image to be fun and trust worthy so as to have more loyal customers. Statistics show that 71% of consumers who have had a positive experience with a brand on social media are likely to recommend the brand to their friends and family. This is the kind of loyal customer base we wish to attain for you.</p>
        </div>
        <div class="feature feature-right">
            <h3 class="feature-heading"><span>04 </span>Strategy For More Success</h3>
            <p class="feature-para">Once you see a good traffic and conversion rate on your website it means your campaign is going well but that’s not it. We need to constantly keep analyzing our strategy and improving to keep the engagement live because we don’t want a bored audience or to be buried with several other ads. We need to keep your top position secured in the market.</p>
        </div>
        <div class="feature">
            <h3 class="feature-heading"><span>05 </span>Rewarding Customers</h3>
            <p class="feature-para">Speak with your audience often, ask them to take up polls or drop their opinions to keep the engagement going and making them feel valued. Reward them in the form of giveaways, freebies or competitions they can take part in and get new customers interested in your brand through these incentives. We will fully to design and run these fun campaigns for you.</p>
        </div>
        <div class="feature feature-right">
            <h3 class="feature-heading"><span>06 </span>Metric Trackers</h3>
            <p class="feature-para">We will help keep a track of all the import metrics such as likes, shares, follows, sentiments, post reach, post engagement, conversions, etc. via analysers and keep testing new marketing strategies for best results and conversion rates. </p>
        </div>

    </div>

</div>

<app-footer></app-footer>

