<nav>
    <div class="container flex">
        <div class="logo">
            <a routerLink="/"><img src="../../../assets/nav/Logo.svg" alt="Kapslock logo"></a>
        </div>

        <ul class="nav-list">
            <li><a class="nav-item" routerLink="/">Home</a></li>
            <li><a class="nav-item" routerLink="/about">About Us</a></li>
            <li><a class="nav-item" routerLink="/blog">Our Blog</a></li>
            <li><a class="nav-item" routerLink="/training">Training</a></li>
            <li><a class="nav-cta cta-primary" routerLink="/contact">Get in Touch</a></li>
        </ul>
        <ul class="nav-list-mobile">
            <div class="close">
                <img src="../../../assets/nav/close.svg" alt="close-menu">
            </div>
            <li><a class="nav-item" routerLink="/">Home</a></li>
            <li><a class="nav-item" routerLink="/about">About Us</a></li>
            <li><a class="nav-item" routerLink="/blog">Our Blog</a></li>
            <li><a class="nav-item" routerLink="/training">Training</a></li>
            <li><a class="nav-cta cta-primary" routerLink="/contact">Get in Touch</a></li>
        </ul>

        <div class="menu">
            <img src="../../../assets/nav/menu.svg" alt="open-menu">
        </div>
    </div>
</nav>
<div class="mobile-menu-background-black"></div>
