<app-nav></app-nav>

<div class="container">

    <!-- hero -->
    <div class="hero flex">
        <div class="hero-left">
            <h1>KapsMart</h1>
            <p>KapsMart is a smart and robust e-commerce platform which packs a punch. It comes wired with all the important features required to power any online business.</p>
            <div class="ctas flex">
                <a routerLink="/contact" class="cta-primary hero-cta-primary">Get in Touch</a>
                <!-- <a href="" class="cta-secondary">Download Portfolio</a> -->
            </div>
        </div>
        <div class="hero-right">
            <img src="../../../../assets/seo-ppc-analytics.svg" alt="picture of E-Commerce">
        </div>
    </div>

    <div class="features">
        <h2 class="features-heading">Our Features</h2>

        <div class="feature">
            <h3 class="feature-heading">KAPSMART MICRO PACKAGE</h3>

            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">Free Domain and Hosting(1 GB data)</p>
            </div>
            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">Admin Dashboard</p>
            </div>
            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">Product Management</p>
            </div>
            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">Order Management</p>
            </div>
            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">Stock Management</p>
            </div>
            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">Reports</p>
            </div>
            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">Integrated Payment Gateway</p>
            </div>
            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">Up to 3 store admins</p>
            </div>
            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">Shop by Category</p>
            </div>
            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">Login with Google and Facebook</p>
            </div>

        </div>
        <div class="feature feature-right">
            <h3 class="feature-heading">KAPSMART MEGA PACKAGE</h3>

            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">All features from KapsMart Micro</p>
            </div>
            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">Chatbot</p>
            </div>
            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">Live Chat</p>
            </div>
            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">Multi Language support</p>
            </div>
            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">Abandoned Cart Recovery</p>
            </div>
            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">Up to 10 store admins</p>
            </div>

        </div>
        <div class="feature">
            <h3 class="feature-heading">KAPSMART MEGA PACKAGE</h3>

            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">All features from KapsMart Mega</p>
            </div>
            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">Analytics</p>
            </div>
            <div class="feature-point">
                <img src="../../../../assets/check.svg" alt="tick-mark">
                <p class="feature-point-content">Up to 20 store admins</p>
            </div>

        </div>

    </div>

</div>


<app-footer></app-footer>
